In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np

## Series functions

    - Series 도 Numpy 처럼 다양한 함수 사용가능 , 대신 시리즈는 1차원 배열이기 때문에 axis 가 없음

In [8]:
# 무작위로 가져오기 random.choice
sr1 = pd.Series(data = np.random.choice(list('erferwe'),size=(4)), name='sr1')

sr1

0    e
1    r
2    e
3    e
Name: sr1, dtype: object

## 계산함수

    - Pandas 에서도 Numpy 와 같이 
    - sum() , var() , std() 함수가 내장되어 있다.
    
### 다만, Numpy 에선 var(변수명) 으로 변수명을 함수에 지정할 수 있지만,
### Pandas 함수는 따로 제공하지 않기 때문에 해당작업을 하고 싶다면, np 함수를 사용해야함

## Pandas 의 argmax , argmin , idxmax , idxmin

In [23]:
sr1 = pd.Series(data=[3,2,6,4,5] , index=list('abcde'))


a1 = np.random.randint(100, size=5)
a1
np.argmax(a1) # 최대값의 인덱스 위치 제공
np.argmin(a1) # 최소값의 인덱스 위치 제공

sr1.argmax() # 최대값의 인덱스 제공
sr1.idxmax() # 최대값의 인덱스 이름 제공

array([35, 94, 41, 61, 62])

1

0

2

'c'

### 하나의 Series 에서 comparison & boolean index
    
    - 결과값이 시리즈로 나온다

In [32]:
sr2 = pd.Series( data = np.random.randint(10 , size=(6)) , name='sr2')

sr2
sr2>2 # 결과값이 시리즈로 나온다 
sr2[sr2>5] # True 값만 출력 마찬가지로 시리즈로 나온다

0    8
1    7
2    5
3    5
4    1
5    8
Name: sr2, dtype: int32

0     True
1     True
2     True
3     True
4    False
5     True
Name: sr2, dtype: bool

0    8
1    7
5    8
Name: sr2, dtype: int32

## Series 의 sort

    - 순서대로 정렬 sort를 한번했다고 해서 , return 되지않음 ( sort 값이 저장되지 않는다 )
    
    - data 만 정렬 = s1.sort_values()  
    - index 만 정렬 = s1.sort_index()
    
    
## sort_values(inplace = True )

    -  s2 = s1.sort_values(inplacce=True) 
    -  return 을 하겠다는 뜻 , 당연히 index 의 위치나, data의 위치도 바뀐다.

In [48]:
s1 = pd.Series(data=[5,2,4,1,3] , index=list('cdabe'))

s1

s1.sort_values(inplace=True)
s1.sort_values()
s1.sort_index()

c    5
d    2
a    4
b    1
e    3
dtype: int64

b    1
d    2
e    3
a    4
c    5
dtype: int64

a    4
b    1
c    5
d    2
e    3
dtype: int64

## Series 의 replace

    - loc 이나 iloc 은 특정 '위치' 에 있는 data 를 바꿀 때 사용했지만,
    
    - replace 는 특정 data 를 바꿀 때 사용

In [56]:
s1 = pd.Series(data=[5,2,4,1,3] , index=list('cdabe'))
s1

s1 = s1.replace(5,100)
s1 = s1.replace([5,4,1],100) # 5 4 1 를 전부 100으로 
s1 = s1.replace([5,4,1],[10,20,30]) # 5 4 1 를 10 20 30 으로
s1

c    5
d    2
a    4
b    1
e    3
dtype: int64

c    100
d      2
a    100
b    100
e      3
dtype: int64

## Series 사이의 함수 ( index 공유 하는 경우)

    - 그냥 하면된다. 
   
## Series 사이의 함수 ( index 이름이 다른경우 )

    - 서로 인덱스 가 달라도 일단 sr1 + sr2 합쳐서 데이터를 통합한다.     
    - index 의 길이는 길어지고 , 데이터는 Nan 으로 생성 
    - isnull , notnull 그리고 boolean 인덱스를 사용해서 Nan 이있는값만, Nan이 없는 값을 활용한다.
    
    
### sr3.isnull() , notnull() / np.isnan() , ~np.isnan()

    - 데이터 가 Nan 이면, True
    - pd.notnull(sr3) 로도 사용가능

In [75]:
sr1 = pd.Series( data = [1,2,3,4,5] , index=list('cdbef'))
sr2 = pd.Series( data = [5,2,4,3,1] , index=list('abcde'))

sr1
sr2

sr3 = sr1+sr2 # index 의 길이는 길어지고 , 데이터는 Nan 으로 생성 
sr3
sr3.isnull() 
#sr3.notnull()  둘이똑같형식임 
#pd.notnull(sr3)

sr3[sr3.notnull()] # boolean 인덱스를 활용하여 Nan 아닌 데이터들만 가져옴

c    1
d    2
b    3
e    4
f    5
dtype: int64

a    5
b    2
c    4
d    3
e    1
dtype: int64

a    NaN
b    5.0
c    5.0
d    5.0
e    5.0
f    NaN
dtype: float64

a     True
b    False
c    False
d    False
e    False
f     True
dtype: bool

b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

## Series 의 수학함수 

    - Series 는 딱히 수학함수가 없기 때문에 Numpy 수학함수를 인용한다.

In [78]:
sr1 = pd.Series( data = [1,2,3,4,5] , index=list('abcde') , name='sr1')

sr1
np.exp(sr1) # 지수함수 
np.power(sr1,2) # 제곱

a    1
b    2
c    3
d    4
e    5
Name: sr1, dtype: int64

a      2.718282
b      7.389056
c     20.085537
d     54.598150
e    148.413159
Name: sr1, dtype: float64

a     1
b     4
c     9
d    16
e    25
Name: sr1, dtype: int64

 ## 실습 3

In [141]:
sr1 = pd.Series(data=np.random.randint(10 , size=10),index=range(0,10) )

sr2 = sr1*3+1
sr2 

sr3 = sr2[sr2%5==0]

sr3.sum() # vaules 의 합

# index 의 합
sr3.index # index 만 따로 호출 
np.sum(sr3.index) # 따로 호출한 index 를 np.array 에 넣고 sum()

0    19
1     4
2    13
3    10
4    19
5    13
6    22
7    22
8     4
9    22
dtype: int32

10

Int64Index([3], dtype='int64')

3

## 실습 4

    - ascending = False , 순서 거꾸로

In [144]:
sr1 = pd.Series( data= np.random.randint(100 , size=6), index=list('abcdef') )
sr1
sr1.sort_values(ascending=True)
sr2 = sr1.sort_values(ascending=False) 
sr2[[1]]

a    77
b    34
c    38
d    67
e    52
f    13
dtype: int32

f    13
b    34
c    38
e    52
d    67
a    77
dtype: int32

d    67
dtype: int32

## 실습 5

In [154]:


sr1 =pd.Series( data=np.random.randint(10 , size=5) , index=np.random.choice(list('abcdefgh') , size=5, replace=False))
sr2 =pd.Series( data=np.random.randint(10 , size=5) , index=np.random.choice(list('abcdefgh') , size=5, replace=False))
sr3 =pd.Series( data=np.random.randint(10 , size=5) , index=np.random.choice(list('abcdefgh') , size=5, replace=False))

sr1
sr2
sr3

sr4 = sr1+sr2+sr3

sr4[sr4.notnull()]

g    5
e    6
c    1
d    9
f    7
dtype: int32

h    7
a    4
e    2
g    8
c    9
dtype: int32

g    7
h    6
b    1
a    8
c    2
dtype: int32

c    12.0
g    20.0
dtype: float64