In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [10]:
import numpy as np
import random

In [14]:
m1 = np.random.randint(1,11 , size=(3,4))

m2 = m1%3

m3 = (m2==0)

m1
m2
m3

array([[10,  1,  8,  5],
       [ 4,  9,  8,  1],
       [ 6,  4,  4,  5]])

array([[1, 1, 2, 2],
       [1, 0, 2, 1],
       [0, 1, 1, 2]], dtype=int32)

array([[False, False, False, False],
       [False,  True, False, False],
       [ True, False, False, False]])

### 위에 코드를 한줄에 쓰기

In [18]:
m1 = np.arange(5)

m1%3
m1%3 == 0 

np.sum(m1%3==0) # True 는 몇개인가

array([0, 1, 2, 0, 1], dtype=int32)

array([ True, False, False,  True, False])

2

### 두개 이상의 comparison 결과 합치기 

- comparison
    - and 둘다 T 면 T 
    - or 둘  중 하나라도 T 면 T
    - not T 라면 F  ( 결과의 반대 , 청개구리 )

In [20]:
a1 = np.random.randint(100 , size=8)

a1

a2 = a1%3==0 # 3 으로나누고 0이면 True
a3 = a1>30  # 30  보다 크면 True
a4 = a1>80  # 80 보다 크면 True 

print('1', a2&a3) # and  둘다 T 면 T 
print('2', a2 | a3) # or 하나라도 T 면 T 
print('3', a2&a3&a4) # and and 셋다 T 면 T

array([34, 74, 28, 90,  3, 50, 62, 84])

1 [False False False  True False False False  True]
2 [ True  True False  True  True  True  True  True]
3 [False False False  True False False False  True]

In [23]:
a1 = np.random.randint(100, size=(3,4))
a1

a2 = ( a1%5==0)
a2  # 5 나눠서 0 나오면 True 
~a2  # 5 나눠서 0 나오면 False

array([[82, 45, 22, 68],
       [64, 28, 88, 37],
       [91, 72, 66, 34]])

array([[False,  True, False, False],
       [False, False, False, False],
       [False, False, False, False]])

array([[ True, False,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

### 실습 

- 4 8 12 16 20 40 의 각각 값의 제곱들의 6의 배수 갯수는?

In [30]:
a1 = np.arange(4,41,4)

a2 = a1**2

a2
a2%6

np.sum((a2%6)==0)

array([  16,   64,  144,  256,  400,  576,  784, 1024, 1296, 1600],
      dtype=int32)

array([4, 4, 0, 4, 4, 0, 4, 4, 0, 4], dtype=int32)

3

### 실습 2

- randint(1,11) 함수로 3x3 매트릭스를 만들고 6을 제외한 3의 배수의 개수를 구하시오

In [56]:
a1 = np.random.randint(1,11 ,size=(3,3))

a1

a2=(a1!=6)
a3=(a1%3==0)
a4=(a2&a3)

# 위 3줄을 한줄로 
np.sum((a1!=6)&(a1%3==0))

array([[8, 4, 5],
       [1, 2, 7],
       [9, 4, 4]])

1

## np.nan

### nan 
    - nan = not a number
    - 파일을 읽을 때 비어있는 경우는 np.nan 으로 채워진다 
    
### np.isnan(x)
    - nan 이면 True
### ~np.isnan(x)
    - nan 이면 False
### a1 == a1 
    - 숫자면 T , nan 이면 F

In [54]:
a1 = np.array([1,np.nan,2,np.nan,3])

a1

np.isnan(a1) #  nan 인 경우 True 
~np.isnan(a1) 
np.sum(np.isnan(a1))
a1 == a1 # nan 이면 F 숫자면 True

array([ 1., nan,  2., nan,  3.])

array([False,  True, False,  True, False])

array([ True, False,  True, False,  True])

2

array([ True, False,  True, False,  True])

### np.where 조건문  ( argument  3개 ) 인 경우 

- np.where ( 조건식 , a , b )
    - 각 element 가 조건식에 대해 
    - True 면 a 출력 
    - False 면 b 출력

In [63]:
a1 = np.array([100,200,-2])

a1

np.where(a1>0,30,40) # a1 이 0보다 크면 30, 0보다 작으면 40 
np.where(a1>50, -1 , 10 )

array([100, 200,  -2])

array([30, 30, 40])

array([-1, -1, 10])

### np.where ( argument 1개 ) 인 경우 [ 1차원 ]

- np.where(조건문)
    - 조건문에 True 면 index 위치 출력(반환)
    - 타입은 튜플

In [81]:
a1 = np.random.randint(100 , size=5)

a1

a2 = np.where(a1>50)

a2
type(a2)
len(a2)
a2[0]

a3=a2[0]

type(a3)

array([ 5, 44, 80, 13, 14])

(array([2], dtype=int64),)

tuple

1

array([2], dtype=int64)

numpy.ndarray

### np.where 반환값은 튜플,  튜플을 np.array 로 바꿀려면

    - a2 ( 반환된 튜플 데이터 )
    - a3 = a2[0] 
    - a3 = np.array

### np.where (조건문) [2차원]

    - 출력값이 두 개의 인덱스가 나옴 
    - 1개는 행 , 2개는 열 임
    - ex) [0,0,1,1] , [0,2,4,6] 이면
    - (0,0) (0,2) (1,4) (1,6) 가 완전한 인덱스 이다.

In [88]:
a1 = np.arange(100,110).reshape(2,5)

a1

b= np.where(a1%2==0)

b
type(b)

b2 =b[0] #행의 인덱스 
b3 =b[1] #열의 인덱스
b2
type(b2)

list(zip(b2,b3)) # 행 과 열 을 묶음

array([[100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109]])

(array([0, 0, 0, 1, 1], dtype=int64), array([0, 2, 4, 1, 3], dtype=int64))

tuple

array([0, 0, 0, 1, 1], dtype=int64)

numpy.ndarray

[(0, 0), (0, 2), (0, 4), (1, 1), (1, 3)]

### 실습 3

- randint (1,11) 함수로 5x5 매트릭스를 만들고
- 1. 그 안의 7이상 숫자를 모두 더하시오

- 2. 그 안의 7이상의 숫자면서 짝수를 모두 더하시오

In [117]:
m1 = np.random.randint(1,11 , size=(5,5))

m1

b1 = (m1>=7)&(m1%2==0)
c1 = np.where(b1)

s1 = 0

for ii,jj in zip(c1[0],c1[1]):
    s1 += m1[ii,jj]
    print(m1[ii,jj],ii,jj)

s1

array([[ 4, 10,  5, 10,  5],
       [ 1,  7,  4,  6,  6],
       [ 5,  4,  4,  7,  2],
       [ 9,  8,  6,  6,  2],
       [ 8, 10,  8,  8,  8]])

10 0 1
10 0 3
8 3 1
8 4 0
10 4 1
8 4 2
8 4 3
8 4 4

70