In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
import pandas as pd

## apply 
#### df1.apply( 함수명 , axis= 0 or 1 and 'index' or 'columns' )

    - DataFrame 에서 각 row , 또는 column 만 별도로 함수 사용하는 방법 
    
    - DataFrame 은 2차원 배열이기 때문에 axis 지정을 반드시 해야한다
    
    - apply 사용할때 함수에 들어가는 element 는 Series 로 입력된다.

In [12]:
d1 = pd.read_table('pandas_data3.txt' , index_col=0)
d2 = d1.iloc[:3,1:]

d2

def f2(x):
    return x.max() - x.min()

d2.apply( f2 , axis=0)
d2.apply( f2 , axis='index')
print('#'*30)
d2.apply( f2 , axis=1)
d2.apply( f2 , axis='columns')

      year  mid  final  att  proj
name
kim2     1   12     36    5    75
kim3     2   17     20    5    96
kim6     2   28     20    4    83

year      1
mid      16
final    16
att       1
proj     21
dtype: int64

year      1
mid      16
final    16
att       1
proj     21
dtype: int64

##############################

name
kim2    74
kim3    94
kim6    81
dtype: int64

name
kim2    74
kim3    94
kim6    81
dtype: int64

## apply 와 lambda 

    - map 과 마찬가지로 간단한 함수라면 , lambda 의 사용이 가능하다.

In [13]:
d2.apply(f2, axis=0)
d2.apply( lambda x : x.max()-x.min() , axis=0)

year      1
mid      16
final    16
att       1
proj     21
dtype: int64

year      1
mid      16
final    16
att       1
proj     21
dtype: int64

## 함수지정 X , apply 사용 

    - np.mean() , std() , var() 등등 apply 와 함께 사용하여 특정 열만 변경할 수 있다.

In [17]:
d2.apply( np.mean , axis=0)
d2.mean(axis=0)

year      1.666667
mid      19.000000
final    25.333333
att       4.666667
proj     84.666667
dtype: float64

year      1.666667
mid      19.000000
final    25.333333
att       4.666667
proj     84.666667
dtype: float64

## ( apply 사용 X ) DataFrame 에서 함수 사용 후 , Numpy 1차원 배열로 가져오기

    - values 를 쓰지않고 np 의 수치함수 를 사용하는경우
    - DF 에서 Series 로 변환된다.
    
    - 하지만 values 를 지정한 후 에 수치함수 를 사용하면 
    - DF 에서 1차원배열 , 혹은 1개의 결과값으로 출력이 가능하다

In [23]:
d2.mean(axis=1)
d2.values.mean(axis=1)
d2.values.mean()

name
kim2    25.8
kim3    28.0
kim6    27.4
dtype: float64

array([25.8, 28. , 27.4])

27.066666666666666

## Numpy std() 와 Pandas std() 의 차이

    - 결과 값이 다르다. 
    
    - 분산 의 식 ( 데이터 values - 데이터의평균) / n - ( ddof ) 
    - 분산의식 분모가 n 일경우, n-1 일 경우가 있다.
    
    - Numpy 에서 디폴트값이 n 이고, Pandas 에서는 디폴트 값이 n-1 이다.
    - ddof 의 수를 설정 할 수있다. 
    
#### var() 에서도 마찬가지

In [32]:
s1 = d2.loc['kim2']

s1
s1.std()
s1.values.std()
np.std(s1)

s1.std(ddof=0)

year      1
mid      12
final    36
att       5
proj     75
Name: kim2, dtype: int64

30.670833050310193

27.43282705081633

27.43282705081633

27.43282705081633

In [38]:
def func_std(x):
    return np.std(x)

d2.apply(func_std) # Numpy 라서 ddof = 0
d2.std() # Pandas 이므로 ddof = 1
d2.values.std()

year     0.471405
mid      6.683313
final    7.542472
att      0.471405
proj     8.653837
dtype: float64

year      0.577350
mid       8.185353
final     9.237604
att       0.577350
proj     10.598742
dtype: float64

30.690860021981933

## map 과 apply 

### map 

    - Series 전용
    - 함수의 x 는 1개 이고 , Series 의 각 element 가 들어간다
    
### apply 
    
    - Dataframe 전용
    - 함수의 x 는 1개 이나 , Dataframe 의 Series 이다.
    - 결과타입은 Series