In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
import pandas as pd

In [17]:
df1 = pd.read_table('C:\\Users\\Hyobin An\\workspace-Pandas\\pandas_data1.txt' , sep='\t' , engine='python' , index_col = '이름')
# df1 = pd.read_table('pandas_data1.txt' , sep='\t' , engine='python' , index_col = '이름')
df1.index.name=None

# 이여섯 , 최아홉의 기말 점수 

df1.loc[['이여섯','최아홉'],['기말']]

df1.iloc[-3:][['출석','과제']]

     기말
이여섯  38
최아홉  33

    출석  과제
이둘   8  98
이셋   4  79
이넷  10  89

####  read_table( file_path  파라미터 부분에서 복사된 txt 파일이 열람이 안되서 , 개인경로 지정하여 txt파일을 읽었습니다.)