In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
import pandas as pd

##  과제 1,2

    - 'pandas_data3.txt' 를 불러오시오
    
    - 1.'proj' 가 90점 이상인 학생들의 mid 점수의 평균을 구하시오
    
    - 2. 'final_HML' column 을 만들고
        - final_mean + 2 보다 큰 final 점수는 H
        - final_mean - 2 보다 작은 final 점수는 L
        - 둘 다 아니라면 M 을 넣으시오.

In [13]:
d1 = pd.read_table('pandas_data3.txt', index_col=0)
d1 = d1.head(10)

#1 
d2 = d1[d1['proj']>90]
d2['mid'].mean()

#2 

def final_HML(x):
    if x > final_mean +2:
        return 'H'
    elif x < final_mean -2:
        return 'L'
    else:
        return 'M'
final_mean = d1['final'].mean()
d1['final_HML'] = d1['final'].map(final_HML)
d1

20.333333333333332

      gender  year  mid  final  att  proj final_HML
name
kim2       F     1   12     36    5    75         M
kim3       M     2   17     20    5    96         L
kim6       M     2   28     20    4    83         L
kim7       M     2   20     44    6    82         H
kim8       F     1   20     24    8    88         L
kim9       M     3   23     45   10    92         H
kim10      M     3   16     47    5    83         H
lee5       M     3   21     35    5    92         M
lee9       M     3   20     36    5    87         M
lee10      F     4   28     41    9    87         H