## 3.  변수 와 자료형

In [1]:
123*1/2

61.5

In [3]:
123*1/4

30.75

In [10]:
abc =123 

print(abc*1/2)
print(abc*1/4)

61.5
30.75

## 변수명을 지정할 때 주의할 점.

1. 변수명은 문자 , 숫자 , 밑줄기호 (_) 를 이용해서 만든다 
2. 숫자 X 
3. 대소문자 구분
4. 밑줄 이외의 기호는 변수에 이용할 수 없고 , 공백을 포함할 수 없다.
5. 파이썬 내장함수와 동일할수 없다 ( None , True , and ,break , def , if ...)

문자열 - 시작 과 끝에 큰 따옴표 (" " ) 나 작은 따옴표 ( ' ' )

In [12]:
print ( 'string', "string")

string string

In [13]:
a = 'Enjoy'
b = 'Python'

c= a+b

print(c)

EnjoyPython

-리스트 -대괄호 [] 

-튜플 -  소괄호 () 불변 

-딕셔너리 - 중괄호 {} , key 값 보유 

예 ) 1번학생 의 국어 영어 수학 과학 점수가 각각 90 ,95 ,85 ,80

In [15]:
score_stu =[90,95,85,80]
score_stu

[90, 95, 85, 80]

list 의 index 값

In [16]:
score_stu[0]

90

In [24]:
score_stu[3]

80

In [26]:
name=['James','Robert','Anna','Lisa']
name

['James', 'Robert', 'Anna', 'Lisa']

In [27]:
name[2]

'Anna'

In [30]:
mixedList=[90,85,3.14,'python','car',True,name]
mixedList

[90, 85, 3.14, 'python', 'car', True, ['James', 'Robert', 'Anna', 'Lisa']]

In [33]:
mixedList[-2];mixedList[5]

True

리스트 + 리스트

In [34]:
list_01 = [1,2,3,4]
list_02 = [5,6,7,8]

list_plus = list_01 + list_02
list_plus

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
# 인덱스 활용 하여 호출
list_plus[:2]

[1, 2]