## 딕셔너리 ( ditcionary ) 
- {} 중괄호 , key 값 , value 값

In [1]:
country_capital = {"영국":'런던','프랑스':'파리','대한민국':'서울','스위스':'베른','미국':'워싱턴DC'}

In [2]:
country_capital

{'영국': '런던', '프랑스': '파리', '대한민국': '서울', '스위스': '베른', '미국': '워싱턴DC'}

In [3]:
type(country_capital)

dict

In [5]:
country_capital["영국"]

'런던'

In [8]:
dict_data={1:'버스',2:'기차',3:'택시',4:'자전거'}
dict_data

{1: '버스', 2: '기차', 3: '택시', 4: '자전거'}

In [10]:
dict_data[3]

'택시'

In [26]:
dict_data2 = {"list_data1":[11,12,13],'list_data2':[21,22,23]}

In [27]:
dict_data2["list_data2"]

[21, 22, 23]

In [30]:
mixed_dict={1:10, 'dict_num':{1:10,2:20},"B":(21,22,23),"string":"이것은 문자입니다."}
mixed_dict

{1: 10, 'dict_num': {1: 10, 2: 20}, 'B': (21, 22, 23), 'string': '이것은 문자입니다.'}

## 딕셔너리 다루기 

- 새로운 값 추가
- 데이터 삭제
- 메소드 활용

In [34]:
country_capital['독일']='베를린'
country_capital

{'영국': '런던',
 '프랑스': '파리',
 '대한민국': '서울',
 '스위스': '베른',
 '미국': '워싱턴DC',
 '독일': '베를린'}

In [41]:
country_capital['호주']='시드니'
country_capital

{'영국': '런던',
 '프랑스': '파리',
 '대한민국': '서울',
 '스위스': '베른',
 '미국': '워싱턴DC',
 '독일': '베를린',
 '호주': '시드니'}

## valuse 값 변경 

- dict_['key'] = 변경할 value 값

In [44]:
country_capital['호주']='캔버라'
country_capital

{'영국': '런던',
 '프랑스': '파리',
 '대한민국': '서울',
 '스위스': '베른',
 '미국': '워싱턴DC',
 '독일': '베를린',
 '호주': '캔버라'}

In [46]:
fruit_code={'사과':101 , '배' : 102 , '딸기' : 103 , '포도' : 104 , '바나나' : 105}

## key 만 출력 , valuse 만 출력

 - dict_a.keys()  키 값 만 출력 
 - dict_a.values() value 값만 출력

In [48]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [49]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

## dict -> list  형변환 

- list(dict_a)  
- dict -> list 할 경우 , key 값은 사라지고 value 값만 남는다 
- items() 를 사용하면 key , value 값 모두 list 형태로 출력가능

In [50]:
list(fruit_code)

['사과', '배', '딸기', '포도', '바나나']

In [53]:
list(fruit_code.items())
print(list(fruit_code.items()))
print(type(list(fruit_code)))

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]
<class 'list'>

## dict + dict 

- dict.update( dict02 ) = dict02 -> dict 합치기

In [54]:
fruit_code02 = { '오렌지' : 106 , '수박' : 107 }

In [56]:
fruit_code.update(fruit_code02)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}