In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import numpy as np
import pandas as pd

## DataFrame

    - column 들의 모임 , column 들은 각자 하나의 데이터타입을 가지되, 다른 column 과 다른 데이터타입을 가져도 된다. 
    
    - DataFrame 은 Series 와 별도로 데이터타입을 알려주지않음 , ( d1.dtypes ) 을 통해 개별로 확인 가능  
    
    - data
    - index ( 행이름 ) 
    - column ( 열이름 ) 
    - dtype ( 데이터 타입 )

In [7]:
d1 = pd.DataFrame( data = np.arange(12).reshape(3,4) , index=[1,2,3] ,  columns = list('abcd') , dtype=float)
d1

d1.dtypes # df 데이터타입 별도 확인

     a    b     c     d
1  0.0  1.0   2.0   3.0
2  4.0  5.0   6.0   7.0
3  8.0  9.0  10.0  11.0

a    float64
b    float64
c    float64
d    float64
dtype: object

- 데이터타입을 str,int 로 넣어도  dtype=float 을 지정하면, float 이 가능한 데이터는 float 으로 자동형변환

In [11]:

dat = [[1,2,3,4] , ['a',6,7,8],[9,10,'11',12]] 

d2 = pd.DataFrame( data = dat , index=[1,2,3] ,  columns = list('abcd') , dtype=float)
d2
d2.dtypes

   a     b     c     d
1  1   2.0   3.0   4.0
2  a   6.0   7.0   8.0
3  9  10.0  11.0  12.0

a     object
b    float64
c    float64
d    float64
dtype: object

## column 따로 선택하기

In [20]:
d1['a']
d1
s1=d1['a']

s1.loc[1]
s1.loc[2]

1    0.0
2    4.0
3    8.0
Name: a, dtype: float64

     a    b     c     d
1  0.0  1.0   2.0   3.0
2  4.0  5.0   6.0   7.0
3  8.0  9.0  10.0  11.0

0.0

4.0

## 딕셔너리와 DataFrame

In [28]:
dic1 = {'a':[1,2,3,] , 'b':[2,3,7], 'c':[3,4,10]}

df1 = pd.DataFrame( data=dic1)
df1

   a  b   c
0  1  2   3
1  2  3   4
2  3  7  10

- nested 딕셔너리 활용 예

In [32]:

dic2 = {'a' : {'d':1,'e':2} , 'b':{'d':10,'e':20}, 'c':{'d':100,'e':200}}

df2 = pd.DataFrame(data=dic2)
df2

   a   b    c
d  1  10  100
e  2  20  200

## txt파일 과 DataFrame

    - txt 파일에 한글이 있다면 engine='python' 을 넣어주자

In [37]:
df3 = pd.read_table('pandas_data1.txt' , sep='\t' , engine='python')

df3

FileNotFoundError: [Errno 2] No such file or directory: 'pandas_data1.txt'