In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np

### object type

    - 데이터 배열 안에는 주소값이 있고, 주소값이 해당 데이터를 가져오는 방식이다. ( Object) 
    - [ object , 1 ,2.1  ] -> [ 오브젝트 , 1 , 2.1 ]  
    
    - Numpy 에서 문자열 , 정수 , 실수 가 섞여있을경우 디폴트 값은 Unicode 이다. ( 따로 dtype 지정으로 변경가능 )
    - 하지만 Pandas 에서 문자열 정수 실수 가 섞여있을경우 디폴트 값은 object 이다. 
    
    - 서로 디폴트값이 다르기 때문에 Numpy 에서 주소값(슬라이싱)을 불러오면 
    - Numpy 에선 1 과 2.1 이 Unicode 로 출력된다.
    
    - 하지만 Pandas 에서는 디폴트값이 object 이기 때문에 
    - 1 과 2.1 이 int 와 float 으로 변환되어 출력

In [12]:
s1 = pd.Series(['aaa',123,12.3])

s1
s1[0] # str으로 나옴
s1[1] # int 로 나옴 ( 디폴트가 object 이기 떄문 )

0     aaa
1     123
2    12.3
dtype: object

'aaa'

123

In [9]:
s1 = np.array(['aaa',123,12.3])

s1
s1[0] # str 으로 나옴
s1[1] # str으로 나옴 ( 디폴트가 유니코드 이기 떄문 )

array(['aaa', '123', '12.3'], dtype='<U4')

'aaa'

'123'

## 실습 1 

    - 시리즈 sr1 을 만들어라, index = 1,2,3,4,5 data = 0~9 사이의 랜덤 5개 
    
    - values 를 활용하여 data 를 얻고 3이상읜 value 들의 평균을 구하시오

In [35]:
v1 = np.random.randint(10 ,size=5)
sr1 = pd.Series(v1 , index=range(1,6))

a1 = sr1.values

a1
a2 = a1[a1>=3]

a2.mean()

array([8, 3, 7, 8, 7])

6.6

## Series index 이름 으로 호출 .loc

    - 시리즈 의 index 이름으로 호출 하는 방법    
    - sr1.loc['index이름']
    - 굳이 .loc 안써도 된다. 하지만 index 와 data 값이 헷갈릴 수 있기 때문에 존재함.
    
    - 두 개 이상의 index 값을 가져올려면 [[]] fancy index 와 마찬가지로 사용
    - 두개이상을 가져오면 데이터타입이 시리즈 형태로 return 된다 
    
    - [[]] 형태를 하나의 인덱스 만 호출함으로 새로운 시리즈 형태를 만들 수있다.( 시리즈 안의 시리즈 )
    
 
## Series index 로 호출 .iloc    

    - .loc 는 생략해도 loc 지만, iloc 는 생략하면 loc 이기 때문에 필수로 지정해야 함.
    - loc 에서 데이터 이름대신 정수  ( 1~99) 입력하면 자동으로 iloc 로 변환 된다.

In [56]:
sr1 = pd.Series( data=[1,2,3,4,5] , index=list('abcde') , dtype=float , name='sr1')

sr1
sr1.loc['b']
sr1['c'] # loc 대신 사용 가능 
sr1['c']=100 # 데이터 교체가능 가능

sr1

sr1.loc[['c','a']] # 두개 이상 인덱스 가져오기
type(sr1.loc[['b','d']]) # 두개이상을 가져오면 데이터타입이 시리즈 형태로 return 된다 

sr2 = sr1.loc[['a']] # [[]] 형태를 하나의 인덱스 만 호출함으로 새로운 시리즈 형태를 만들 수있다.
sr2

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: sr1, dtype: float64

2.0

3.0

a      1.0
b      2.0
c    100.0
d      4.0
e      5.0
Name: sr1, dtype: float64

c    100.0
a      1.0
Name: sr1, dtype: float64

pandas.core.series.Series

a    1.0
Name: sr1, dtype: float64

In [81]:
# loc vs iloc 

sr2 = pd.Series( data=[1,2,3,4,5] , index=[3,7,4,5,6] , name='sr1')

sr2
sr2.iloc[3:5]
sr2.loc[3:5]

sr2.loc[3:4:2]

3    1
7    2
4    3
5    4
6    5
Name: sr1, dtype: int64

5    4
6    5
Name: sr1, dtype: int64

3    1
7    2
4    3
5    4
Name: sr1, dtype: int64

3    1
4    3
Name: sr1, dtype: int64

## 실습 2

    - loc 과 iloc 를 이용하여 각 각 아래의 결과를 출력하시오

In [85]:
sr1 = pd.Series( data=range(0,10) , index=['e',1,'d',2,'c',3,'b', 4 ,'a',5] , dtype=int)

sr1
sr1['d']

sr1.loc[[5]]

sr1.loc['d':'b':2]
sr1.iloc[2:7:2]

e    0
1    1
d    2
2    3
c    4
3    5
b    6
4    7
a    8
5    9
dtype: int32

2

5    9
dtype: int32

d    2
c    4
b    6
dtype: int32

d    2
c    4
b    6
dtype: int32