In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 6W : array 간 연산 , transpose , concatenate , np.log , comparisons

## 실습 : numpy 의 제곱

In [2]:
ar1=np.arange(4,41,4)
ar1
ar2=ar1*ar1
ar2
ar2.sum()

array([ 4,  8, 12, 16, 20, 24, 28, 32, 36, 40])

array([  16,   64,  144,  256,  400,  576,  784, 1024, 1296, 1600])

6160

## 실습 : numpy 를 3으로 나눈 나머지의 합 구하기

In [3]:
ar1=np.arange(0,51,5)
ar1
ar2=ar1%3
ar2
np.sum(ar2)

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

array([0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2], dtype=int32)

11

## 실습 : 0행 = 2, 1행 = 3 , 2행 = 1 넣고 + 하기

In [4]:
a1=np.arange(15).reshape(3,5)
a1
a2=np.array([2,3,1]).reshape(3,1)
a2
a1+a2
a2=np.random.randint(10, size=(3,1))
a2
a1+a2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

array([[2],
       [3],
       [1]])

array([[ 2,  3,  4,  5,  6],
       [ 8,  9, 10, 11, 12],
       [11, 12, 13, 14, 15]])

array([[0],
       [9],
       [4]])

array([[ 0,  1,  2,  3,  4],
       [14, 15, 16, 17, 18],
       [14, 15, 16, 17, 18]])

## 실습 : concatenate 하여 벡터 와 매트릭스 합치기

In [5]:
v1=np.array([1,2,3])
v1
v1=v1.reshape(1,3)
m1=np.concatenate((v1,v1,v1))
v2=v1.reshape(3,1)
m2=np.concatenate((m1,v2), axis=1)
m2

array([1, 2, 3])

array([[1, 2, 3, 1],
       [1, 2, 3, 2],
       [1, 2, 3, 3]])

## 실습 : 1~5 랜덤정수 3x4 매트릭스 에서 각 element 제곱근의 합 구하기

In [6]:
m1=np.random.randint(1,6,size=(3,4))
m1
m2=np.sqrt(m1)
m2
m2.sum()

array([[1, 4, 1, 2],
       [2, 3, 2, 4],
       [3, 2, 5, 4]])

array([[1.        , 2.        , 1.        , 1.41421356],
       [1.41421356, 1.73205081, 1.41421356, 2.        ],
       [1.73205081, 1.41421356, 2.23606798, 2.        ]])

19.357023842129927

## 실습 : 랜덤 3x4 매트릭스에서 z-score 로 정규화 하기

In [7]:
m1=np.random.randint(1,6,size=(3,4))
m1
m=m1.mean(axis=1)
s=m1.std(axis=1)
m=m.reshape(3,1)
s=s.reshape(3,1)

r1=(m1-m)/s
r1

array([[3, 4, 1, 2],
       [3, 2, 5, 1],
       [2, 4, 4, 3]])

array([[ 0.4472136 ,  1.34164079, -1.34164079, -0.4472136 ],
       [ 0.16903085, -0.50709255,  1.52127766, -1.18321596],
       [-1.50755672,  0.90453403,  0.90453403, -0.30151134]])

## 실습 : comparisons 을 하여 3의 배수 갯수 구하기

In [8]:
m1=np.random.randint(1,11,size=(3,4))
m1
m2=(m1%3)
m2
m3=(m2==0)
m3

print("# 1)")
m3.sum()
print("# 2)")
m3.sum(axis=1)

array([[ 7,  4,  1,  1],
       [ 1,  8,  6, 10],
       [ 6,  3,  3,  2]])

array([[1, 1, 1, 1],
       [1, 2, 0, 1],
       [0, 0, 0, 2]], dtype=int32)

array([[False, False, False, False],
       [False, False,  True, False],
       [ True,  True,  True, False]])

# 1)

4

# 2)

array([0, 1, 3])

## 과제 : 각 열의 평균보다 큰 element 갯수를 구하기

In [9]:
m1=np.random.randint(1,11,size=(3,4))
m1
m=m1.mean(axis=0)
m
np.sum(m1>m, axis=0)

array([[ 3,  1,  1,  2],
       [ 1,  7,  7,  8],
       [ 4,  7,  3, 10]])

array([2.66666667, 5.        , 3.66666667, 6.66666667])

array([2, 2, 1, 2])

## 과제 : 각 열 별로 mean 과 std 를 구하고 / m-s < 큰 element 갯수 구하기

In [10]:
m1=np.random.randint(1,11,size=(3,4))
m1
m=m1.mean(axis=0)
s=m1.std(axis=0)
m
s
d=m-s
np.sum(m1>d, axis=0)

array([[ 5,  6,  8,  2],
       [ 2,  7,  5,  6],
       [ 4,  5,  3, 10]])

array([3.66666667, 6.        , 5.33333333, 6.        ])

array([1.24721913, 0.81649658, 2.05480467, 3.26598632])

array([2, 2, 2, 2])

# 7W : comparisons 2 , boolean index & fancy index

## 실습 : 4~40 의 각 제곱중 6의 배수 갯수는?

In [11]:
a1=np.arange(4,41,4)
a1
a2=a1*a1
a2
a2%6
np.sum((a2%6)==0)

array([ 4,  8, 12, 16, 20, 24, 28, 32, 36, 40])

array([  16,   64,  144,  256,  400,  576,  784, 1024, 1296, 1600])

array([4, 4, 0, 4, 4, 0, 4, 4, 0, 4], dtype=int32)

3

## 실습 : 3x3 매트릭스 만들고 6을 제외한 3의 배수

In [12]:
a1=np.random.randint(1,11, size=(3,3))
a1
(a1!=6)&(a1%3==0)
np.sum((a1!=6)&(a1%3==0))

array([[8, 3, 6],
       [4, 9, 1],
       [4, 3, 8]])

array([[False,  True, False],
       [False,  True, False],
       [False,  True, False]])

3

## 실습 : 5x5 매트릭스 에서 7이상 숫자를 모두 더하기,

## 7 이상 and 짝수를 모두 더하기

In [13]:
#1
a1=np.random.randint(1,11,size=(5,5))
a1
b1=np.where(a1>=7)

s1=0
for ii,jj in zip(b1[0], b1[1]):
    s1+=a1[ii,jj]
s1

array([[10,  1, 10, 10,  7],
       [ 4,  5,  8,  1,  3],
       [ 1,  4,  4, 10,  1],
       [ 6,  6,  1,  8,  7],
       [ 4,  1,  4,  5,  5]])

70

## 실습 : 3번째 열에서 , 3의 배수 or 10보다 큰수의 sum

In [14]:
a1=np.arange(24).reshape(6,4)
a1
a2=a1[:,-1]
a2
b1=(a2%3==0)|(a2>10)
b1
a2[b1]
a2[b1].sum()

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

array([ 3,  7, 11, 15, 19, 23])

array([ True, False,  True,  True,  True,  True])

array([ 3, 11, 15, 19, 23])

71

## 실습 : 마지막 열 에서, 5보다 큰 행들의 평균 구하기

In [15]:
a1=np.random.randint(10, size=(5,5))
a1
b1=a1[:,-1]>5
b1
a2=a1[b1,:]
a2
a2.mean(axis=1)

array([[7, 3, 1, 7, 5],
       [8, 3, 3, 7, 6],
       [7, 6, 6, 3, 5],
       [1, 6, 7, 9, 2],
       [9, 3, 7, 0, 7]])

array([False,  True, False, False,  True])

array([[8, 3, 3, 7, 6],
       [9, 3, 7, 0, 7]])

array([5.4, 5.2])

## 실습 : 수학 , 영어 numpy 중에 비교하여 계산하기

In [16]:
m1=np.random.randint(10, size=10)
e1=np.random.randint(10, size=10)
m1
e1
b1=m1<e1
b1
np.sum(b1)
m1[b1]
m1[b1].mean()

array([5, 7, 5, 0, 4, 6, 9, 5, 3, 9])

array([7, 8, 2, 5, 4, 4, 4, 4, 6, 8])

array([ True,  True, False,  True, False, False, False, False,  True,
       False])

4

array([5, 7, 0, 3])

3.75

## 실습 : 메뉴판 으로 주문하고 총 가격은?

In [17]:
p1=np.array([1000,2000,1500,2000])
p1
o1=np.array([1,1,3,2,2,3,4,1])
p1[o1-1]
p1[o1-1].sum()

array([1000, 2000, 1500, 2000])

array([1000, 1000, 1500, 2000, 2000, 1500, 2000, 1000])

12000

## 실습 : nan 이 없는 행들만 추출하기

In [20]:
a1=np.random.randint(10,size=(6,4))
a1=a1.astype(float)
a1[[0,1,1,3],[1,1,2,3]]=np.nan
a1
np.isnan(a1)
np.isnan(a1).sum(axis=1)
b1=np.isnan(a1).sum(axis=1)==0
a1[b1,:]

array([[ 4., nan,  0.,  3.],
       [ 8., nan, nan,  2.],
       [ 8.,  9.,  0.,  9.],
       [ 9.,  6.,  2., nan],
       [ 7.,  1.,  1.,  5.],
       [ 0.,  5.,  5.,  0.]])

array([[False,  True, False, False],
       [False,  True,  True, False],
       [False, False, False, False],
       [False, False, False,  True],
       [False, False, False, False],
       [False, False, False, False]])

array([1, 2, 0, 1, 0, 0])

array([[8., 9., 0., 9.],
       [7., 1., 1., 5.],
       [0., 5., 5., 0.]])

## 과제 : nan 이 없는 열들의 최소값 구하기

In [21]:
a1 = np.random.randint(10, size=(6,4))
a1 = a1.astype(float)

a1[[0,2,2,5],[1,1,3,3]]=np.nan # (0,1) ,(2,1) , (2,3) ( 5,3) 에 nan 을 넣는다 
a1

a2 = np.isnan(a1).sum(axis=0) # 각 열의 nan 의 갯수 
b1 =(a2 ==0) # a2 가 0 이면 Ture, True = nan 이 없는 열 

a1[:,b1].min(axis=0) # 전체행 , 난이 없는 열  + min()

array([[ 8., nan,  9.,  6.],
       [ 9.,  0.,  8.,  6.],
       [ 6., nan,  2., nan],
       [ 1.,  1.,  4.,  6.],
       [ 3.,  4.,  6.,  0.],
       [ 9.,  1.,  3., nan]])

array([1., 2.])

## 과제 : numpy 에서 5명의 수학점수 , 영어점수 , 나이 를 통해 수학>영어 인 나이의 합은?

In [22]:
a1 = np.random.randint(10 , size=(3,5))

a1
math = a1[0,:] # 수학점수
eng = a1[1,:] # 영어점수 
age = a1[2,:] # 나이

m = math>eng # 수학점수>영어점수 인 수학점수 element
m
age[m] # 수학점수>영어점수 인 나이

array([[7, 6, 7, 3, 1],
       [1, 6, 2, 9, 7],
       [4, 1, 8, 3, 5]])

array([ True, False,  True, False, False])

array([4, 8])