In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Pandas

    - 파이썬을 이용해서 다량의 데이터를 손쉽게 처리할 수 있도록 도와주는 module
    - pandas 는 Numpy 기반으로 만들어졌지만 , 좀 더 복잡한 데이터 분석에 특화
    - pandas 는 Numpy의 배열 보다 더 다양한 타입의 자료를 처리 할 수 있다.
    

### 구조적 데이터 생성하기

```python 
import pandas as pd

```

### Series() / 가장 기본적인 방법은 Series() 를 이용하는 것 (1차원)
```python
s = pd.Series(seq_data)
```

In [8]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([10,20,30,40,50])

s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

### 데이터이름.index

    - '데이터이름' 안의  인덱스 길이를 확인함

In [4]:
s1.index

RangeIndex(start=0, stop=5, step=1)

### 데이터이름.valuse
    - '데이터이름' 안의 valuse 를 확인함

In [5]:
s1.values

array([10, 20, 30, 40, 50], dtype=int64)

In [7]:
s2 = pd.Series(['a','b','c',1,2,3])

s2

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [9]:
s3 = pd.Series([np.nan, 10 , 30])

s3

0     NaN
1    10.0
2    30.0
dtype: float64

### pandas는 index 데이터를 커스텀 할 수있다.

In [13]:
index_date = ['2019-10-07','2019-10-08','2019-10-09','2019-10-10']
              
s4 = pd.Series([200,195,np.nan,205], index=index_date)

s4

2019-10-07    200.0
2019-10-08    195.0
2019-10-09      NaN
2019-10-10    205.0
dtype: float64

### dictionary 를 이용하여 index 설정
    - dictionary 의 key 값이 인덱스가 된다

In [14]:
s5 = pd.Series({'국어':95 , '영어':100, '수학':90})
s5

국어     95
영어    100
수학     90
dtype: int64

### 날짜 자동생성 : date_range
    - pd.date_range(start=none , end=none , periods=none ( step 개념과 유사 ) , freq='d'( periods 의 기준 ) )
    - freq 옵션 = Day , Business day , Week , Month , Bussiness Month , 
    - Month Start(월초) , Q(분기) , QS(분기초) , A (일년끝)
    - AS ( 일년시간 ) , Hour , T(분) , S(초)

In [15]:
pd.date_range(start = '2019-01-01' , end = '2019-01-09')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range(start = '2019-01-01' , periods=7) # 2019-01-01 부터 7일까지

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range(start = '2019-01-01', periods=4 , freq='2D')
pd.date_range(start = '2019-01-01', periods=4 , freq='w')
pd.date_range(start = '2019-01-01', periods=5 , freq='h')
pd.date_range(start = '2019-01-01', periods=5 , freq='30min')

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07'], dtype='datetime64[ns]', freq='2D')

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27'], dtype='datetime64[ns]', freq='W-SUN')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:30:00',
               '2019-01-01 01:00:00', '2019-01-01 01:30:00',
               '2019-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='30T')

In [29]:
index_date = pd.date_range(start='2019-03-01', periods=5 , freq='d') # 인덱스 따로 생성
pd.Series([51,62,55,49,55], index=index_date) # 사용자 설정 인덱스 + 배열 데이터

2019-03-01    51
2019-03-02    62
2019-03-03    55
2019-03-04    49
2019-03-05    55
Freq: D, dtype: int64

### Dataframe / 다차원 데이터 생성
```python

df = pd.dataframe( 데이터 , [ index= index_data, columes = columes_data ]) 
```
    -  index = 행
    -  columes = 열

In [37]:
data_list = np.array([[10,20,30],[40,50,60],[70,80,90],[100,110,120]])
pd.DataFrame(data_list)

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

### DataFrame ( data , 행 타이틀 , 열 타이틀 )

In [38]:
index_data = pd.date_range('2019-01-01',periods=4)
columes_list = ['A','B','C']

pd.DataFrame(data_list ,index=index_data , columns=columes_list )

              A    B    C
2019-01-01   10   20   30
2019-01-02   40   50   60
2019-01-03   70   80   90
2019-01-04  100  110  120

In [52]:
table_data = {'연도':[2015,2016,2016,2017,2017],
             '지사':['한국','한국','미국','한국','미국'],
             '고객수':[200,250,450,300,500]}
table_data
 
df = pd.DataFrame(table_data) # Series() 와 마찬가지로 딕셔너리 사용시 key 값 - 행 제목 value - 열 제목
df

{'연도': [2015, 2016, 2016, 2017, 2017],
 '지사': ['한국', '한국', '미국', '한국', '미국'],
 '고객수': [200, 250, 450, 300, 500]}

     연도  지사  고객수
0  2015  한국  200
1  2016  한국  250
2  2016  미국  450
3  2017  한국  300
4  2017  미국  500

In [53]:
df.index # df 의 행제목
df.columns # df 의 열제목

RangeIndex(start=0, stop=5, step=1)

Index(['연도', '지사', '고객수'], dtype='object')

### 데이터 연산

In [59]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])

s1+s2
s2-s1
s1*s2 # 내적 
s1/s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

0     9
1    18
2    27
3    36
4    45
dtype: int64

0     10
1     40
2     90
3    160
4    250
dtype: int64

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

###  shape 을 초과하여 계산을 하면 nan 값이 나온다

In [60]:
s3 = pd.Series([1,2,3,4])
s4 = pd.Series([10,20,30,40,50])

s3+s4

0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64

### 통계분석 연습

In [67]:
table_data2 = {'봄':[256.5, 264.3 , 215.9 , 223.2 , 312.8],
             '여름':[770.6 , 567.5 , 599.8 , 387.1 , 446.2],
             '가을':[363.5 , 231.2 , 293.1 , 247.7 , 381.6 ],
             '겨울':[139.3, 59.9 , 76.9 , 109.1 , 108.1]}

columes_list = ['봄','여름','가을','겨울']
index_list = ['2012','2013','2014','2015','2016']

df2 = pd.DataFrame( table_data2 , index_list, columes_list)
df2

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

### descirbe() , axis=

In [68]:
df2.mean()

봄     254.54
여름    554.24
가을    303.42
겨울     98.66
dtype: float64

In [69]:
df2.std()

봄      38.628267
여름    148.888895
가을     67.358496
겨울     30.925523
dtype: float64

In [71]:
df2.mean(axis=1) # 0 = 열 / 행 = 1

2012    382.475
2013    280.725
2014    296.425
2015    241.775
2016    312.175
dtype: float64

In [74]:
df2.describe() # 봄 여름 가을 겨울 별로 종합수치

                봄          여름          가을          겨울
count    5.000000    5.000000    5.000000    5.000000
mean   254.540000  554.240000  303.420000   98.660000
std     38.628267  148.888895   67.358496   30.925523
min    215.900000  387.100000  231.200000   59.900000
25%    223.200000  446.200000  247.700000   76.900000
50%    256.500000  567.500000  293.100000  108.100000
75%    264.300000  599.800000  363.500000  109.100000
max    312.800000  770.600000  381.600000  139.300000